.Cards {
  width: 170px;
  height: 120px;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}
.card__category {
  margin-left: 25px;
}
.Cards img {
  width: 90%;
  height: 6rem;
}
