.categoryHome {
  background-color: black;
}
.categoryList {
  background-color: black;
  height: 90%;
  width: 50vw;
  padding: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: white;
  gap: 20px;
}
.categoryHome button {
  background-color: green;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  border-radius: 39px;
  width: 100px;
  height: 30px;
  border: none;
  float: right;
  margin-top: 10px;
  margin-right: 40px;
}
