.selectedCategory {
  width: 50vw;
  padding-left: 133px;
  background-color: black;
}
.selectedCategory__heading {
  font-weight: 700;
  font-family: "Single Day", cursive;
  color: #72db73;
  font-size: 61px;
  margin: 2.5rem 0;
}
.selectedCategory__subheading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 55px;
  color: white;
  width: 554px;
}
.selectedCategory__list {
  display: flex;
  align-items: flex-start;
  padding: 5% 0px;
  flex-wrap: wrap;
}
.selectedCategory__list .items {
  background-color: green;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 7px 15px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  border-radius: 31px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
}
.errors {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: red;
}
